<div class="layout-topbar p-component p-d-flex p-ai-center p-jc-between">
  <h1 [routerLink]="['/']" style="cursor: pointer">
    PkHax
  </h1>

  <input class="p-d-none p-d-lg-inline" pInputText (input)="callFilter($event)" placeholder="Search..."
         style="width: 40vw;">

  <div class="p-d-none p-d-lg-flex p-md-3 p-text-right p-ai-center p-jc-end">
    <p-button label="New Entry" [routerLink]="'/editor/'" styleClass="p-mr-2"></p-button>
    <app-auth-button></app-auth-button>
    <a routerLink="/user">
      <p-avatar *ngIf="auth.user$ | async as user" [image]="user.picture" styleClass="p-ml-2" size="large"
                shape="circle"></p-avatar>
    </a>
  </div>

  <div class="p-d-lg-none">
    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"
            (click)="op.toggle($event)"></button>
  </div>
</div>

<p-overlayPanel #op [showCloseIcon]="true">
  <ng-template pTemplate>
    <div class="p-grid">
      <div class="p-col-12">
        <input pInputText (input)="callFilter($event)" placeholder="Search..." style="width: 100%;"/>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-button label="New Entry" [routerLink]="'/editor/'" (onClick)="op.hide()" styleClass="p-mr-2"></p-button>
        <app-auth-button (click)="op.hide()"></app-auth-button>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
