<div class="layout-topbar p-component flex align-items-center justify-content-between">
  <h1 [routerLink]="['/']" style="cursor: pointer">
    PkHax
  </h1>

  <input class="hidden lg:inline" pInputText (input)="callFilter($event)" placeholder="Search..."
         style="width: 40vw;">

  <div class="hidden lg:flex md:col-3 text-right align-items-center justify-content-end">
    <p-button label="New Entry" [routerLink]="'/editor/'" styleClass="mr-2"></p-button>
    <app-auth-button></app-auth-button>
    <a routerLink="/user">
      <p-avatar *ngIf="auth.user$ | async as user" [image]="user.picture ?? ''" styleClass="ml-2" size="large"
                shape="circle"></p-avatar>
    </a>
  </div>

  <div class="lg:hidden flex align-items-center justify-content-end">
    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"
            (click)="op.toggle($event)"></button>
    <a routerLink="/user">
      <p-avatar *ngIf="auth.user$ | async as user" [image]="user.picture ?? ''" styleClass="ml-2" size="large"
                shape="circle"></p-avatar>
    </a>
  </div>
</div>

<p-overlayPanel #op [showCloseIcon]="true">
  <ng-template pTemplate>
    <div class="grid">
      <div class="col-12">
        <input pInputText (input)="callFilter($event)" placeholder="Search..." style="width: 100%;"/>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-button label="New Entry" [routerLink]="'/editor/'" (onClick)="op.hide()" styleClass="p-mr-2"></p-button>
        <app-auth-button (click)="op.hide()"></app-auth-button>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
