<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
    <span>PkHax</span>
  </a>

  <!--<a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
      <i class="pi pi-bars"></i>
  </a>-->

  <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
    <i class="pi pi-ellipsis-v"></i>
  </a>

  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
    <a [routerLink]="['editor']" class="p-link layout-topbar-button">
      <i class="pi pi-plus"></i>
      <span>New Entry</span>
    </a>
    <app-auth-button></app-auth-button>
    <a [routerLink]="['user']" class="p-link layout-topbar-button">
      <p-avatar *ngIf="auth.user$ | async as user" [image]="user.picture ?? ''" styleClass="ml-2" size="large"
                shape="circle"></p-avatar>
      <!--<i class="pi pi-user"></i>
      <span>Profile</span>-->
    </a>
  </div>
</div>
