<div style="border-left: 2px solid #808080; padding: 0.5rem;" *ngIf="comment.id">
  <div style="font-size: x-small; color: #808080">{{comment.created_by.displayName}} · {{comment.created_at | date: 'medium'}}</div>

  <div class="p-py-1" [innerHTML]="comment.content">{{comment.content}}</div>

  <div *ngIf="comment.modified_at != comment.created_at" style="font-size: x-small; color: #808080">Edited by {{comment.modified_by.displayName}} at {{comment.modified_at | date}}</div>

  <div style="font-size: x-small;">
    <button pButton pRipple type="button" label="Reply" (click)="toggleReplyEditor()" class="p-button-text p-button-plain p-button-sm"></button>
    <button pButton pRipple type="button" label="Edit" class="p-button-text p-button-plain p-button-sm"></button>
    <button pButton pRipple type="button" label="Report" class="p-button-text p-button-plain p-button-sm"></button>
    <button pButton pRipple type="button" label="Share" disabled class="p-button-text p-button-plain p-button-sm"></button>
  </div>
  <div *ngIf="showReply">
    <p-editor [(ngModel)]="reply"></p-editor>
    <button pButton pRipple label="Save" (click)="createReply()"></button>
  </div>

  <div *ngIf="comment.children && comment.children.length > 0">
    <app-comment *ngFor="let child of comment.children" [comment]="child"></app-comment>
  </div>
</div>
