.layout-footer {
  transition: margin-left .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);

  a {
    text-decoration: unset;
    color: unset;
  }
}
