<p-toast></p-toast>
<div class="p-grid wrapper">
  <p-card [header]="user.displayName" *ngIf="user" class="p-col-12 p-md-6 p-md-offset-3">
    Choose a unique displayname with minlength 3 characters. You can change it later.
    <div class="p-field p-grid">
      <label class="p-col-3" for="dn">Displayname</label>
      <div class="p-col"><input #id id="dn" pInputText [(ngModel)]="user.displayName" minlength="3"></div>
    </div>

    <p-button (onClick)="updateUser()" label="Save" icon="pi pi-save" [disabled]="id.value.length < 3"></p-button>
  </p-card>
</div>
