<p-toast></p-toast>
<div class="grid wrapper">
  @if (user) {
    <p-card [header]="user.displayName" class="col-12 md:col-6 md:col-offset-3">
      Choose a unique displayname with minlength 3 characters. You can change it later.
      <div class="field grid">
        <label class="col-3" for="dn">Displayname</label>
        <div class="p-col"><input #id id="dn" pInputText [(ngModel)]="user.displayName" minlength="3" maxlength="30"></div>
      </div>
      <p-button (onClick)="updateUser()" label="Save" icon="pi pi-save" [disabled]="id.value.length < 3"></p-button>
    </p-card>
  }
</div>
