/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

.baserom {
  font-weight: bold;
  padding: 0.3em;
}

.baserom-cell > .baserom:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.baserom-cell > .baserom:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
