/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: #f8f9fa;
}

.wrapper {
  margin-top: 20px;
}

.baserom {
  font-weight: bold;
  padding: 0.3em;
}

.baserom-cell > .baserom:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.baserom-cell > .baserom:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center!important;
}

a.p-button {
  text-decoration: none;
}

.p-button.p-button-xs {
  font-size: 0.6rem;
  padding: 0.2rem 0.5rem;
}
.p-button.p-button-xs .p-button-icon {
  font-size: 0.6rem;
}
