/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}


.baserom {

  padding: 0.3em;
}

.baserom-cell > .baserom:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.baserom-cell > .baserom:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
