@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-primary-50: #fff1f1;
  --color-primary-100: #ffdfdf;
  --color-primary-200: #ffc5c5;
  --color-primary-300: #ff9d9d;
  --color-primary-400: #ff6464;
  --color-primary-500: #ff5f5f; /* Brand Red */
  --color-primary-600: #ed2121;
  --color-primary-700: #c81010;
  --color-primary-800: #a50f0f;
  --color-primary-900: #881414;

  --color-surface-900: #2D3436; /* Dark Slate Title */
  --color-surface-ground: #F5F6FA; /* Light Grey BG */
  --color-surface-card: #ffffff;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Outfit", system-ui, sans-serif;
}

